/* Container for the filter controls */
.filter-container {
  margin-bottom: 10px;
}

.filter-group {
  align-items: center;
}

.filter-group label {
  margin-right: 1px;
  font-size: 10px;
}

.filter-group select {
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 10px;

}

.filter-group select:hover {
  border-color: #888;
}

.filter-group select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}
.filter-group option {
  width: fit-content;
}
